@model WebUI.Areas.Member.Models.CustomModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <title>Twitter Card</title>

    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

    <link href="~/lib/fontAwesome/css/all.min.css" rel="stylesheet" />

</head>

<style>
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }



    header {
        display: block;
        overflow: hidden;
        position: relative;
        padding-bottom: 2em;
    }

    .container {
        width: 100%;
        padding-bottom: 1.5em;
        background-color: white;
        padding: 0;
    }

    .bg {
        border-bottom: 8px solid #55967E;
        width: 100%;
        height: 450px;
    }

    .bio:hover > .desc {
        cursor: pointer;
        opacity: 1;
    }

    .avatarcontainer {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 120px;
        height: 120px;
        display: block;
    }

    .avatar {
        width: 100%;
        border: 8px solid #55967E;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
    }


    .data {
        margin-top: .6em;
        color: #81878b;
    }

        .data li {
            width: 32%;
            text-align: center;
            display: inline-block;
            font-size: 1.5em;
            font-family: 'Lato';
            border-right: solid 1px white;
        }

            .data li:last-child {
                border: none;
            }

            .data li span {
                display: block;
                text-transform: uppercase;
                font-family: 'Quicksand';
                font-size: .5em;
                margin-top: .6em;
                font-weight: 700;
            }

    .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 92%;
        padding: 1.2em 1em 0 1em;
        color: white;
        text-align: center;
        opacity: 0;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

        .desc h3 {
            font-family: "Lato";
            font-size: 1.2em;
            margin-bottom: .5em;
        }

        .desc p {
            font-size: .9em;
            font-family: 'Quicksand';
            line-height: 1.5em;
        }

    .follow {
        margin: 1.5em auto 0 auto;
        background-color: #55967E;
        width: 150px;
        color: white !important;
        font-family: "Lato";
        text-align: center;
        padding: 1em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease;
        -moz-transition-timing-function: ease;
        -o-transition-timing-function: ease;
        transition-timing-function: ease;
    }

        .follow:hover {
            background-color: #2f973e;
            cursor: pointer;
        }

    .alert-success {
        background-color: #55967E;
        color: white;
    }

    #deneme:hover {
        background-color: #2f973e !important;
    }

    .align-items-center {
        -ms-flex-align: center !important;
        align-items: center !important;
    }

    .d-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    span {
        font-size: 20px !important;
    }

    .dot {
        color: white;
        font-size: 22px !important;
        height: 50px;
        text-align: center;
        width: 50px;
        background-color: #55967E;
        border-radius: 50%;
        display: inline-block;
    }
</style>

<div style="background-color: #364C71;" class="container">
    <header>
        <div class="bio">
            <img src="~/img/kutuphane.jpg" alt="background" class="bg">
            <div class="desc">
                <h3>@Model.Member.UserName</h3>
                <p>@Model.Member.Description</p>
            </div>
        </div>

        <div class="avatarcontainer">
            <img style="width: 120px; height: 120px;" src="~/img/@Model.Member.Picture" alt="avatar" class="avatar">

        </div>


    </header>

    <div class="content">
        <div class="data">
            <p style="text-align: center; text-transform: uppercase; font-weight: bold; color: white; font-size: 20px;">@Model.Member.FirstName @Model.Member.LastName</p>
            <ul>
                <li>
                    <span style="color:white; font-size: 25px;"><getBookAppUserId app-user-id="@Model.Member.Id"></getBookAppUserId></span>
                </li>
                <li>
                    <span style="color: white; font-size:20px">@ViewBag.Comment.Count</span>
                    <span style="color: white; font-size:20px">Yorum Sayısı</span>
                </li>
                <li>
                    <span style="color: white; font-size:20px">@ViewBag.Quotations.Count</span>
                    <span style="color: white; font-size: 20px;">Alıntı Sayısı</span>
                </li>
            </ul>
        </div>

        @if (TempData["sa"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                <strong>@TempData["sa"]</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    <div style="text-align: center; margin-bottom: 10px;">
        <a asp-action="Comment" asp-route-user="@Model.Member.UserName" asp-controller="Profile" style="display: inline-block" class="follow"> <img class="icon-twitter"> Yorumlar</a>
        <a asp-action="Quotation" asp-route-user="@Model.Member.UserName" asp-controller="Profile" style="display: inline-block;" class="follow"> Alıntılar</a>
        @if (@Model.IsProfile == true)
        {
            <button asp-route-user="@Model.Member.UserName" style="border: none; outline: none;" type="button" class="follow" data-toggle="modal" data-target="#exampleModal">Profili Düzenle</button>
        }

    </div>


        <div style="margin-right: 0; margin-left: 0; background-color: #364C71; border-top: 8px solid #55967e; text-align: center;" class="row">
            @foreach (var quotation in ViewBag.Quotations)
            {
                <div class="container mt-4" style="padding-bottom: 20px; position: relative; border-bottom: 1px solid black; background-color: #364c71">

                    <div style="padding-left: 0; padding-right: 0; margin-right: 0; margin-left: 0" class="row">


                        <div class="col-md-4 mt-5">
                            <div>
                                <img style="width: 160px; height: 250px; position: relative;" alt="Web Studio" class="img-fluid" src="@quotation.Book.BookImageUrl" />

                            </div>


                        </div>
                        <div style="justify-content: center;" class="col-md-8 col-lg-8   d-flex align-items-center mt-3 mt-md-0">
                            <div>
                                <h1 style="color: #55967e; font-weight: bold; font-size: 27px !important;">@quotation.Book.Title</h1>
                                <span style="display: block; color: white; font-size: 18px !important;"><i class="far fa-bookmark mr-2"></i>Alıntı Yapılan Sayfa : @quotation.CurrentPage</span>
                                <span style="display: block; color: white; font-size: 18px !important;"><i class="fas fa-hourglass-half mr-2"></i>@quotation.CreatedOn.ToString("D")</span>
                                <span style="color: white; font-size: 18px !important;"><i class="fas fa-user-edit mr-2 "></i>@Model.Member.FirstName @Model.Member.LastName</span>
                                <p style="color: white; text-align: justify" class="margin-top-s">@quotation.QuotationText</p>
                                <h5 style="color: #55967e; font-weight: bold;">@quotation.Book.Author.Name</h5>
                            </div>
                        </div>
                    </div>
                </div>
            }
         
        </div>




        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="form1" method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="@Model.Member.Id" />
                            <input type="hidden" asp-for="@Model.Member.UserName" />

                            <div class="form-group">
                                <label asp-for="@Model.Member.FirstName"></label>
                                <span asp-validation-for="@Model.Member.FirstName" class="text-danger"></span>
                                <input asp-for="@Model.Member.FirstName" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Member.LastName"></label>
                                <span asp-validation-for="@Model.Member.LastName" class="text-danger"></span>
                                <input asp-for="@Model.Member.LastName" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Member.Email"></label>
                                <span asp-validation-for="@Model.Member.Email" class="text-danger"></span>
                                <input asp-for="@Model.Member.Email" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label asp-for="@Model.Member.Description"></label>
                                <span asp-validation-for="@Model.Member.Description" class="text-danger"></span>
                                <textarea style="resize: none" asp-for="@Model.Member.Description" class="form-control"></textarea>
                            </div>


                            <div class="form-group mt-2">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <div>
                                            <h5 class="text-center">Şu an ki resminiz : </h5>
                                            <input type="hidden" asp-for="@Model.Member.Picture" />
                                            <img src="~/img/@Model.Member.Picture" style="width: 128px; height: 128px;" alt="@Model.Member.UserName" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div id="areaPreview" style="display: none !important;">
                                            <h5 class="text-center">Seçtiğiniz resim : </h5>
                                            <img id="photoPreview" src="" style="width: 128px; height: 128px;" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-12">
                                        <label asp-for="MyFile"></label>
                                        <input asp-for="MyFile" class="form-control-file" id="Photo">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                                <button style="background-color:#55967E" id="deneme" type="submit" class="btn btn-info btn-sm mt-2">
                                    <i class="fas fa-check mr-2"></i>
                                    Kaydet
                                </button>
                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>


@section scripts{
    <script src="~/lib/jqueryValidate/jquery.validate.min.js"></script>
    <script src="~/lib/jqueryUnob/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">


        $("#Photo").change(function(e) {
            $("#areaPreview").show();


            $("#photoPreview").attr('src', URL.createObjectURL(e.target.files[0]));


        });


        $("#submitForm").on('click', function (evt) {
            evt.preventDefault();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Quotation","Profile")",
                data: new FormData(document.forms[0]),
                contentType: false,
                processData: false,
                success: function(data) {
                    console.log(data);
                    alert("başarılı");
                }
            })

        })

        $('#exampleModal').on('show.bs.modal',
            function(event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('Profili Düzenle');
            });
    </script>



}
