
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string s = (string) ViewBag.SearchedWord;
}

<div>
    @if (!string.IsNullOrWhiteSpace(s))
    {
        <div class="border border-dark p-3 mb-2">
            <strong>@s</strong> kelimesi için sonuçları görüyorsunuz.
            <a class="float-right" asp-action="Index">Filtreyi kaldır</a>
        </div>
    }
    <form method="get" asp-action="Index" class="text-right mt-2 mb-2">
        <input type="text" name="s" class="form-control-sm border border-primary border-top-0 border-left-0 border-right-0 "/>
        <button type="submit" class="btn btn-primary btn-sm">Ara</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Profil Resmi</th>
        <th scope="col">İsim</th>
        <th scope="col">Soyisim</th>
        <th scope="col">Kullanıcı Adı</th>
        <th scope="col">Email</th>
        <th scope="col">Kitap Sayısı</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td><img src="~/img/@item.ProfileImageFile" /></td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td><getBookAppUserId app-user-id="@item.Id"></getBookAppUserId></td>
        </tr>
    }
    </tbody>
</table>

<nav aria-label="Page navigation example">
  
    <ul class="pagination justify-content-center">
        @if (!string.IsNullOrWhiteSpace(s))
        {
            for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-s="@s" asp-route-page="@i">@i</a></li>
            }
        }
        else
        {
            for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
            }
        }

    </ul>
</nav>
