



@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    string s = (string)ViewBag.SearchedWord;
}

<link href="~/lib/swal/bootstrap-sweetalert/sweetalert.min.css" rel="stylesheet" />

<style>
    .card-group > .card {
        flex: 1 0 25%;
        margin-top: 10px;
    }

        .card-group > .card:nth-child(3n-1) {
            margin-right: 30px;
            margin-left: 30px;
        }
   
</style>
<div style="margin: 0;background-color: #364C71; ; border-bottom: 1px solid black; color: white; border-top: none; border-right: none; border-left: none; border-radius: 0;" class="alert alert-secondary text-center" role="alert">
    Kitaplar
</div>
<div>
    @if (!string.IsNullOrWhiteSpace(s))
    {
        <div class="border  p-3">
            <strong style="color:#55967E">@s</strong> kelimesi için sonuçları görüyorsunuz.
            <a style="color: #55967E " class="float-right" asp-action="Index">Filtreyi kaldır</a>
        </div>
    }
<form style="padding: 20px;" method="get" asp-action="Index" class="text-right mt-2 mb-2">
    <input placeholder="Kitap Adı veya Yazar Adı Girin" style="border-bottom: 1px solid #364C71 !important;" type="text" name="s" class="form-control-sm border border-primary border-top-0 border-left-0 border-right-0 " />
    <button style="border:none;background-color: #55967E;" type="submit" class="btn btn-primary btn-sm">Ara</button>
</form>
</div>

<div style="background-color: white;" class="card-group">

    @foreach (var item in ViewBag.Books)
    {
    <div class="card">
        <img style="width: 160px; height: 250px; margin: auto;" class="img-fluid" src="@item.BookImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 style="color:#364C71;" class="card-title text-center">@item.Title</h5>
            <h5 style="color:#364C71;"class="card-title text-center">@item.Author.Name</h5>

        </div>
        <a asp-action="BookDetails" asp-controller="Book" asp-route-bookId="@item.Id" style="border-radius:0;color:white;background:#364C71;border:none;" class="btn btn-warning" btn-sm>Detay</a>
        <div style="padding:0px;" class="card-footer text-muted">
            <button type="submit" data-bookid="@item.Id" data-appuserid="@TempData["appUserId"]" style="background-color: #55967E; border-radius:0px !important; white;width: 100%; font-size: 15px; border: none;" class="bookUser btn btn-primary btn-sm">
                Kitaplığa Ekle
            </button>
            <div style="padding-top : 10px; text-align:center;padding-bottom:10px;">
                <a asp-action="List" asp-controller="Comment" asp-route-s="@item.Title" style="        color: white;
        font-size: 15px;
        border: none;" class="btn btn-info btn-sm">
                    Yorum
                </a>
                <a asp-action="List" asp-controller="Quotation" asp-route-s="@item.Title" style="color: white; font-size: 15px; border: none;" class="btn btn-secondary btn-sm">
                    Alıntı
                </a>
            </div>
         
        </div>

    </div>
    }
</div>


    <nav aria-label="Page navigation example">

        <ul style="        padding: 10px;
        margin-bottom: 0" class="pagination justify-content-center">
            @if (!string.IsNullOrWhiteSpace(s))
            {
                for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")"><a style="background-color: #364C71 !important; border: 1px solid white !important; color: white;" style="background-color: #364C71 !important; border: 1px solid white !important; color: white;" class="page-link" asp-action="Index" asp-route-s="@s" asp-route-page="@i">@i</a></li>
                }
            }
            else
            {
                for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")"><a style="background-color: #364C71 !important; border: 1px solid white !important; color: white;" class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                }
            }

        </ul>
    </nav>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/swal/bootstrap-sweetalert/sweetalert.min.js"></script>
    <script>


        $(".bookUser").on("click", function () {
            console.log("tıkladım");
            var bookId = $(this).data("bookid");
            console.log(bookId);
            var appUserId = $(this).data("appuserid");
            $.ajax({
                type: "Post",
                url: "/Member/Book/Index",
                data: { bookId: bookId, appUserId: appUserId },
                success: function (data) {
                    var gelenObje = jQuery.parseJSON(data);

                    if (gelenObje == true) {
                        swal("Kitaplığınıza başarıyla eklendi!", "Yorum ve Alıntı Paylaşabilirsiniz.", "success")

                    }

                    if (gelenObje == false) {
                        swal("Kitaplığınıza daha önceden eklediniz!", "Yorum ve Alıntı Paylaşabilirsiniz.", "error")

                    }
                },


            })
        })

    </script>

